@import "tailwindcss";

:root {
  /* ========================
          Color Palette
  =========================== */
  --ink-black: #02040f;
  --carbon-black: #212121ff;
  --carbon: rgb(48, 48, 48);
  --midnight-violet: #330c2fff;
  --slate-blue: #7067cfff;
  --periwinkle: #b7c0eeff;
  --lavender-mist: #ece5f0ff;
  --white: #fbfeff;
  --tea-green: #cbf3d2ff;
  --mint-leaf: #23b583ff;
  --evergreen: #003b36ff;
  --evergreen-2: #012622ff;
  --granite: #415d5aff;
  --light-granite: rgb(206, 225, 224);

  /* ========================
          Light Theme
  =========================== */
  --background: var(--white);
  --background-secondary: var(--light-granite);
  --text-color: var(--midnight-violet);

  /* Footer */
  --footer-bg: var(--midnight-violet);

  /* Pill Button */
  --button-bg: var(--midnight-violet);
  --button-bg-secondary: var(--evergreen);
  --button-bg-tertiary: var(--evergreen);
  --button-text: var(--white);
  --highlight: var(--mint-leaf);

  /* Quiz */
  --dash-icon: var(--mint-leaf);
  --dash-aside:var(--evergreen-2);

  --quiz-background: var(--white);
  --quiz-text: var(--ink-black);

  --quiz-card:var(--mint-leaf);
  --quiz-card-text: var(--tea-green);
}

/* Automatically switches if user's OS is dark */
@media (prefers-color-scheme: dark) {
  :root {
    /* ========================
          Dark Theme
    =========================== */
    --background: var(--carbon-black);
    --background-secondary: var(--carbon);
    --text-color: var(--white);

    /* Footer */
    --footer-bg: var(--periwinkle);

    /* Pill Button */
    --button-bg: var(--periwinkle);
    --button-bg-secondary: var(--tea-green);
    --button-bg-tertiary: var(--evergreen);
    --button-text: var(--midnight-violet);
    --highlight: var(--mint-leaf);

    /* Quiz */
    --dash-icon: var(--slate-blue);
    --dash-aside:var(--midnight-violet);

    --quiz-background: var(--white);
    --quiz-text: var(--ink-black);

    --quiz-card: var(--slate-blue);
    --quiz-card-text: var(--lavender-mist);
  }
}

body {
  background-color: var(--background);
  color: var(--text-color);
}
