@import "tailwindcss";

:root {
  /* ========================
          Color Palette
  =========================== */
  --ink-black: #02040f;
  --carbon-black: #212121ff;
  --midnight-violet: #330c2fff;
  --slate-blue: #7067cfff;
  --periwinkle: #b7c0eeff;
  --lavender-mist: #ece5f0ff;
  --white: #fbfeff;
  --tea-green: #cbf3d2ff;
  --mint-leaf: #23b583ff;
  --evergreen: #003b36ff;
  --evergreen-2: #012622ff;
  --granite: #415d5aff;

  /* ========================
          Light Theme
  =========================== */
  --background: var(--white);
  --text-color: var(--midnight-violet);
}

/* Automatically switches if user's OS is dark */
@media (prefers-color-scheme: dark) {
  :root {
    /* ========================
          Dark Theme
    =========================== */
    --background: var(--carbon-black);
    --text-color: var(--white);
  }
}

body {
  background-color: var(--background);
  color: var(--text-color);
}